In [558]:
import psycopg2 as pg
import pandas as pd
import sqlalchemy
import ipywidgets as widgets
from ipywidgets import interact
from sqlalchemy.sql.expression import text
import bcrypt

In [559]:
cnx = 'postgresql://postgres:291200@localhost/sistema'
eng = sqlalchemy.create_engine(cnx)

con = pg.connect(host='localhost', dbname='sistema', user='postgres', password='291200')

Realizando query de duas formas diferentes

In [560]:
# 1ª Forma #

query = """ SELECT * FROM cinema; """

result = pd.read_sql_query(query, con)

display(result)

# 2ª Forma #

with eng.connect() as conn:
    result = conn.execute(text("SELECT * FROM Usuario WHERE nome = :nome"), {"nome": 'Samuel Henrique'})
    for row in result:
        print(f"cpf: {row.cpf}  nome: {row.nome}  senha:{row.senha}")

/tmp/ipykernel_9669/2305323517.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result = pd.read_sql_query(query, con)

,id,nome,endereco,cidade,uf,cep
0,1,Cinema Francisco Lucena,"Rua Herbas Cavalcante Pinheiro, 50",Limoeiro do Norte,CE,62930-000
1,2,Cinema Pinheiro Quixadá,"Rua José de Queiroz Pessoa, 2500",Quixadá,CE,63900-000
2,3,CineCity,Rua C,Porto Alegre,RS,87654-321
3,4,CineTop,Avenida D,Belo Horizonte,MG,54321-987
4,5,CineStar,Rua E,Brasília,DF,98765-432
5,6,Cinema Deluxe,Avenida F,Salvador,BA,45678-901
6,7,CineMax,Rua G,Curitiba,PR,89012-345
7,8,CinePlus,Avenida H,Recife,PE,21098-765
8,9,CineFest,Rua I,Fortaleza,CE,65432-109
9,10,CineArt,Avenida J,Manaus,AM,32109-876

cpf: 44444444444  nome: Samuel Henrique  senha:$1$KsXEKT83$McDFIPk0mcAW43F9OmLxM0

### Componentes da tela de Login

In [561]:
user = widgets.Text(value='samuelhenriq12@gmail.com',
                    placeholder='Digite seu e-mail',
                    description='E-mail: ',
                    disabled=False)

titulo_login = widgets.HTML(value="<h2>Login</h2>")
password = widgets.Password(description='Senha: ',
                            value='samuel123',
                            placeholder='Digite sua senha',
                            disabled=False)

login_button = widgets.Button(description='Entrar')
titulo = widgets.HTML(value="<h1>Sistema de Gerenciamento de cinemas</h1>")

login = widgets.VBox([titulo,titulo_login,user, password, login_button])

user_logado = {'email': '', 'senha': '', 'cpf': ''}

### Componentes da tela de Menu

In [562]:
titulo_menu = widgets.HTML(value="<h2>Menu</h2>")

comprar_ingresso_button = widgets.Button(description='Comprar Ingresso')

cruds_button = widgets.Button(description='CRUDs')

menu = widgets.HBox([comprar_ingresso_button, cruds_button])



voltar_button = widgets.Button(description='Voltar')

### Componentes da tela de Compra de Ingresso

In [563]:
cinemas = widgets.Dropdown(
    options=['Selecione o cinema', 'Cinema Francisco Lucena', 'Cinema Pinheiro Quixadá', 'CineCity', 'CineTop', 'CineStar', 'Cinema Deluxe', 'CineMax', 'CinePlus', 'CineFest', 'CineArt'],
    value = 'Selecione o cinema',
    description='Cinema:',
    disabled=False
)

filmes = widgets.Text(
    value='',
    placeholder='Digite o nome do filme',
    description='Filme: ',
    disabled=False
)

id_sala = widgets.IntText(
    value=1,
    placeholder='Digite o id da sala',
    description='Sala: ',
    disabled=False
)

titulo_comprar_ingresso = widgets.HTML(value="<h2>Comprar Ingresso</h2>")

comprar_button = widgets.Button(description='Comprar Ingresso')

visualizar_filmes_button = widgets.Button(description='Visualizar Filmes')

comprar_ingresso_view = widgets.HBox([visualizar_filmes_button, comprar_button, voltar_button])

### Componentes da tela de CRUD

In [564]:
titulo_cruds = widgets.HTML(value="<h2>CRUDs</h2>")

titulo_cruds_cinema = widgets.HTML(value="<h2>CRUD - Cinema</h2>")
cinema_button = widgets.Button(description='Cinema')
filme_button = widgets.Button(description='Filmes')
sala_button = widgets.Button(description='Salas')
user_button = widgets.Button(description='Usuários')
diretor_button = widgets.Button(description='Diretores')
categoria_button = widgets.Button(description='Categorias')

botoes_crud = widgets.HBox([cinema_button, filme_button, sala_button, user_button, diretor_button, categoria_button, voltar_button])

### Definição do Formulário para Cinema

In [565]:
nome = widgets.Text(
    value='',
    placeholder='Digite o nome do cinema',
    description='Nome: ',
    disabled=False
)

endereco = widgets.Text(
    value='',
    placeholder='Digite o endereço do cinema',
    description='Endereço: ',
    disabled=False
)

cidade = widgets.Text(
    value='',
    placeholder='Digite a cidade',
    description='Endereço: ',
    disabled=False
)

uf = widgets.Dropdown(
    options=['Selecione o estado', 'AL', 'AP', 'AM', 'BA', 'CE', 'DF', 'ES', 'GO', 'MA', 'MG', 'MS', 'MT', 'PA', 'PB', 'PR', 'PE', 'PI', 'RJ', 'RN', 'RS', 'RO', 'RR', 'SC', 'SP', 'SE', 'TO'],
    value='Selecione o estado',
    description='UF:',
    disabled=False
)

cep = widgets.Text(
    value='',
    placeholder='Digite o CEP',
    description='CEP: ',
    disabled=False
)

button_inserir = widgets.Button(description="Inserir", value='')
button_inserir.style.button_color = 'lightgreen'

button_select = widgets.Button(description="Consultar", value='')

button_delete = widgets.Button(description="Excluir", value='Preencha o campo nome para excluir')
button_delete.style.button_color = 'red'

button_update = widgets.Button(description="Atualizar", value='Preencha o campo nome para atualizar')

volta_crud_button = widgets.Button(description='Voltar')

cinema_buttons = widgets.HBox([button_inserir, button_select, button_delete, button_update, volta_crud_button])

cinema_view = widgets.VBox([nome, endereco, cidade, uf, cep, cinema_buttons])

In [566]:
def login_button_clicked(b):
    with eng.connect() as conn:

        result = conn.execute(text("SELECT email, senha, cpf FROM Usuario WHERE email = :email and senha = crypt(:senha, senha)"), {"email": user.value, "senha": password.value})
        if result.rowcount == 0:
            with output:
                output.clear_output()
                print('Usuário não encontrado!')
                user.value = ''
                password.value = ''
                display(login)
        else:
            user_logado['email'] = user.value
            user_logado['senha'] = password.value
            user_logado['cpf'] = result.fetchone()[2]
            with output:
                print('Usuário encontrado!') 
                output.clear_output()
                display(titulo_menu)
                display(menu)

def on_button_comprar_ingresso(b):
    with output:
        output.clear_output()

        display(titulo_comprar_ingresso, cinemas, filmes, id_sala)
        display(comprar_ingresso_view)
    
def on_button_visualizar_filmes(b):
    with eng.connect() as conn:
        query = text(
            """
            SELECT f.nome_ptBR, s.id_sala, f.sessao, s.qntd_assento - COUNT(i.id_ingresso) AS poltronas_livres
            FROM filme f
            JOIN sala s ON f.id_sala = s.id_sala
            JOIN cinema c ON c.id = s.id_cinema
            LEFT JOIN ingresso i ON i.id_filme = f.id_filme
            WHERE c.nome = :nome_cinema
            GROUP BY f.nome_ptBR, s.qntd_assento, f.sessao, s.id_sala, f.ano_lanc
            ORDER BY f.ano_lanc DESC;
            """
        )
        result = conn.execute(query, {"nome_cinema": cinemas.value})
        df = pd.DataFrame(result, columns=['nome_ptBR', 'id_sala', 'sessao', 'poltronas_livres'])
        

    with output:
        output.clear_output()
        display(titulo_comprar_ingresso, cinemas, filmes, id_sala)
        display(comprar_ingresso_view)
        if result.rowcount > 0:
            display(df)
        else:
            print("Não há filmes disponíveis neste cinema.")
    

def on_button_comprar(b):
    try:
        cursor= con.cursor()
        cursor.execute("""INSERT INTO Ingresso (valor, data_de_compra, cpf_usuario, id_filme, id_cinema, id_sala) VALUES (20, now(), %s, 
                       (SELECT id_filme FROM filme WHERE nome_ptBR = %s), (SELECT id FROM cinema WHERE nome = %s), %s)""",
                    (user_logado['cpf'], filmes.value, cinemas.value, id_sala.value))
        cursor.query
        con.commit()
        if(cursor.rowcount > 0):
            print(cursor.rowcount, "ingresso comprado.")
        else:
            print(cursor.rowcount, "ingressos comprados.")
        with eng.connect() as conn:
            query = text(
                """
                SELECT f.nome_ptBR, s.id_sala, f.sessao, s.qntd_assento - COUNT(i.id_ingresso) AS poltronas_livres
                FROM filme f
                JOIN sala s ON f.id_sala = s.id_sala
                JOIN cinema c ON c.id = s.id_cinema
                LEFT JOIN ingresso i ON i.id_filme = f.id_filme
                WHERE c.nome = :nome_cinema
                GROUP BY f.nome_ptBR, s.qntd_assento, f.sessao, s.id_sala, f.ano_lanc
                ORDER BY f.ano_lanc DESC;
                """
            )
            result = conn.execute(query, {"nome_cinema": cinemas.value})
            df = pd.DataFrame(result, columns=['nome_ptBR', 'id_sala', 'sessao', 'poltronas_livres'])

        with output:
            output.clear_output()
            display(titulo_comprar_ingresso, cinemas, filmes, id_sala)
            display(comprar_ingresso_view)
            display(df)

    except Exception as e:
        cursor.execute("ROLLBACK")
        output.clear_output()        
        display(titulo_comprar_ingresso, cinemas, filmes, id_sala)
        display(comprar_ingresso_view)
        display("Não foi possível realizar a inserção. Verifique restrições.")
        display(e)

    finally:
        cursor.close()

def on_back_button(b):
    with output:
        output.clear_output()
        display(titulo_menu)
        display(menu)

def on_button_crud(b):
    with output:
        output.clear_output()
        display(titulo_cruds)
        display(botoes_crud)

def on_back_crud_button(b):
    with output:
        output.clear_output()
        display(titulo_cruds)
        display(botoes_crud)

def on_button_cinema(b):
    with output:
        output.clear_output()
        display(titulo_cruds_cinema)
        display(cinema_view)

def on_button_insert_cinema(b):
    try:
        cursor= con.cursor()
        if(nome.value == '' or endereco.value == '' or cidade.value == '' or uf.value == '' or cep.value == ''):
            raise Exception("Preencha todos os campos")
        cursor.execute("insert into cinema(nome, endereco, cidade, uf, cep) VALUES (%s, %s, %s, %s, %s)", 
                    (nome.value, endereco.value, cidade.value,
                     uf.value, cep.value))
        cursor.query
        con.commit()
        
        with eng.connect() as conn:
            df = pd.read_sql(text("select * from cinema"), conn)
        with output:
            output.clear_output()
            display(titulo_cruds_cinema)
            display(cinema_view, df)

    except Exception as e:
        cursor.execute("ROLLBACK")
        with output:
            output.clear_output()
            display(titulo_cruds_cinema)
            display(cinema_view)
            print("Não foi possível realizar a inserção. Verifique restrições.")
            print(e)
        # traceback.print_exc()
        
    finally:
        cursor.close()

def on_button_select_cinema(b):
    try:
        cursor= con.cursor()
        cursor.execute("select * from cinema")
        cursor.query
        con.commit()
        
        with eng.connect() as conn:
            df = pd.read_sql(text("select * from cinema"), conn)

        with output:
            output.clear_output()
            display(titulo_cruds_cinema)
            display(cinema_view, df)

    except Exception as e:
        cursor.execute("ROLLBACK")
        with output:
            output.clear_output()
            display(titulo_cruds_cinema)
            display(cinema_view)
            print("Não foi possível realizar a consulta.")
            print(e)
        # traceback.print_exc()
        
    finally:
        cursor.close()

def on_button_delete_cinema(b):
    try:
        cursor= con.cursor()
        if(nome.value == ''):
            raise Exception("Preencha o campo nome")
        # display(nome.value)
        query = f"delete from cinema c where c.id = (select id from cinema where nome = '{nome.value}')"
        cursor.execute(query)
        cursor.query
        con.commit()
        
        with eng.connect() as conn:
            df = pd.read_sql(text("select * from cinema"), conn)

        with output:
            output.clear_output()
            display(titulo_cruds_cinema)
            display(cinema_view, df)

    except Exception as e:
        cursor.execute("ROLLBACK")
        with output:
            output.clear_output()
            display(titulo_cruds_cinema)
            display(cinema_view)
            print("Não foi possível realizar a exclusão.")
            print(e)
        # traceback.print_exc()
        
    finally:
        cursor.close()

def on_button_update_cinema(b):
    try:
        cursor= con.cursor()
        if(nome.value == '' or endereco.value == '' or cidade.value == '' or uf.value == '' or cep.value == ''):
            raise Exception("Preencha todos os campos")
        cursor.execute("update cinema set endereco = %s, cidade = %s, uf = %s, cep = %s where nome = %s", 
                    (endereco.value, cidade.value,
                     uf.value, cep.value, nome.value))
        cursor.query
        con.commit()
        
        with eng.connect() as conn:
            df = pd.read_sql(text("select * from cinema"), conn)
        
        with output:
                
            output.clear_output()
            display(titulo_cruds_cinema)
            display(cinema_view, df)

    except Exception as e:
        cursor.execute("ROLLBACK")
        with output:
            output.clear_output()
            display(titulo_cruds_cinema)
            display(cinema_view)
            print("Não foi possível realizar a atualização.")
            print(e)
        # traceback.print_exc()
        
    finally:
        cursor.close()

login_button.on_click(login_button_clicked)
comprar_ingresso_button.on_click(on_button_comprar_ingresso)

button_inserir.on_click(on_button_insert_cinema)
button_select.on_click(on_button_select_cinema)
button_delete.on_click(on_button_delete_cinema)
button_update.on_click(on_button_update_cinema)

visualizar_filmes_button.on_click(on_button_visualizar_filmes)
comprar_button.on_click(on_button_comprar)
cruds_button.on_click(on_button_crud)
voltar_button.on_click(on_back_button)
cinema_button.on_click(on_button_cinema)
volta_crud_button.on_click(on_back_crud_button)

tab_login = widgets.VBox(children=[user, password, login_button])
tab1 = widgets.VBox(children=[nome, endereco, cidade, uf, cep, button_inserir, button_select, button_delete, button_update])

tab = widgets.Tab(children=[tab_login, tab1])
tab.set_title(0, 'Login')
tab.set_title(1, 'Cinema')

# widgets.VBox([tab])


output = widgets.Output()

with output:
    output.clear_output()
    display(login)

output

Output()