In [1]:
import psycopg2 as pg
import pandas as pd
import sqlalchemy
import ipywidgets as widgets
from ipywidgets import interact
from sqlalchemy.sql.expression import text

In [2]:
cnx = 'postgresql://postgres:291200@localhost/sistema'
eng = sqlalchemy.create_engine(cnx)

con = pg.connect(host='localhost', dbname='sistema', user='postgres', password='291200')

Realizando query de duas formas diferentes

In [3]:
# 1ª Forma #

query = """ SELECT * FROM cinema; """

result = pd.read_sql_query(query, con)

display(result)

# 2ª Forma #

with eng.connect() as conn:
    result = conn.execute(text("SELECT * FROM Usuario WHERE nome = :nome"), {"nome": 'Samuel Henrique'})
    for row in result:
        print(f"cpf: {row.cpf}  nome: {row.nome}")

/tmp/ipykernel_9669/253496963.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result = pd.read_sql_query(query, con)

,id,nome,endereco,cidade,uf,cep
0,1,Cinema Francisco Lucena,"Rua Herbas Cavalcante Pinheiro, 50",Limoeiro do Norte,CE,62930-000
1,2,Cinema Pinheiro Quixadá,"Rua José de Queiroz Pessoa, 2500",Quixadá,CE,63900-000
2,3,CineCity,Rua C,Porto Alegre,RS,87654-321
3,4,CineTop,Avenida D,Belo Horizonte,MG,54321-987
4,5,CineStar,Rua E,Brasília,DF,98765-432
5,6,Cinema Deluxe,Avenida F,Salvador,BA,45678-901
6,7,CineMax,Rua G,Curitiba,PR,89012-345
7,8,CinePlus,Avenida H,Recife,PE,21098-765
8,9,CineFest,Rua I,Fortaleza,CE,65432-109
9,10,CineArt,Avenida J,Manaus,AM,32109-876
10,12,teste,aaaaa,aasd,AL,asdas

cpf: 44444444444  nome: Samuel Henrique

In [4]:

user = widgets.Text(value='',
                    placeholder='Digite seu usuário',
                    description='E-mail: ',
                    disabled=False)
password = widgets.Password(description='Senha: ')
button = widgets.Button(description='Entrar')

def on_button_clicked(b):
    print(f'Usuário: {user.value}')
    print(f'Senha: {password.value}')

button.on_click(on_button_clicked)

### Definição do Formulário para Cinema

In [10]:
#campos de texto

#declare esta variável para usar na consulta de campos em branco
flag=''

nome = widgets.Text(
    value='',
    placeholder='Digite o nome do cinema',
    description='Nome: ',
    disabled=False
)


endereco = widgets.Text(
    value='',
    placeholder='Digite o endereço do cinema',
    description='Endereço: ',
    disabled=False
)

cidade = widgets.Text(
    value='',
    placeholder='Digite a cidade',
    description='Endereço: ',
    disabled=False
)

uf = widgets.Dropdown(
    options=['Selecione o estado', 'AL', 'AP', 'AM', 'BA', 'CE', 'DF', 'ES', 'GO', 'MA', 'MG', 'MS', 'MT', 'PA', 'PB', 'PR', 'PE', 'PI', 'RJ', 'RN', 'RS', 'RO', 'RR', 'SC', 'SP', 'SE', 'TO'],
    value='Selecione o estado',
    description='UF:',
    disabled=False
)

cep = widgets.Text(
    value='',
    placeholder='Digite o CEP',
    description='CEP: ',
    disabled=False
)

#botão de consulta
button_inserir = widgets.Button(description="Inserir", value='')
button_inserir.style.button_color = 'lightgreen'

button_select = widgets.Button(description="Consultar", value='')

button_delete = widgets.Button(description="Excluir", value='Preencha o campo nome para excluir')
button_delete.style.button_color = 'red'

button_update = widgets.Button(description="Atualizar", value='Preencha o campo nome para atualizar')


def on_button_insert(b):
    try:
        cursor= con.cursor()
        cursor.execute("insert into cinema(nome, endereco, cidade, uf, cep) VALUES (%s, %s, %s, %s, %s)", 
                    (nome.value, endereco.value, cidade.value,
                     uf.value, cep.value))
        cursor.query
        con.commit()
        
        with eng.connect() as conn:
            df = pd.read_sql(text("select * from cinema"), conn)
        output.clear_output()
        display(nome, endereco, cidade, uf, cep, button_inserir, button_select, button_delete, button_update, df)

    except Exception as e:
        cursor.execute("ROLLBACK")
        output.clear_output()        
        display(nome, endereco, cidade, uf, cep, button_inserir)
        display("Não foi possível realizar a inserção. Verifique restrições.")
        display(e)
        # traceback.print_exc()
        
    finally:
        cursor.close()

def on_button_select(b):
    try:
        cursor= con.cursor()
        cursor.execute("select * from cinema")
        cursor.query
        con.commit()
        
        with eng.connect() as conn:
            df = pd.read_sql(text("select * from cinema"), conn)


        output.clear_output()
        display(widgets.VBox([tab]), df)

    except Exception as e:
        cursor.execute("ROLLBACK")
        output.clear_output()        
        display(nome, endereco, cidade, uf, cep, button_inserir, button_select, button_delete, button_update)
        display("Não foi possível realizar a consulta.")
        display(e)
        # traceback.print_exc()
        
    finally:
        cursor.close()

def on_button_delete(b):
    try:
        cursor= con.cursor()
        # display(nome.value)
        query = f"delete from cinema c where c.id = (select id from cinema where nome = '{nome.value}')"
        cursor.execute(query)
        cursor.query
        con.commit()
        
        with eng.connect() as conn:
            df = pd.read_sql(text("select * from cinema"), conn)

        output.clear_output()
        display(nome, endereco, cidade, uf, cep, button_inserir, button_select, button_delete, button_update, df)

    except Exception as e:
        cursor.execute("ROLLBACK")
        output.clear_output()        
        display(nome, endereco, cidade, uf, cep, button_inserir)
        display("Não foi possível realizar a exclusão.")
        display(e)
        # traceback.print_exc()
        
    finally:
        cursor.close()

def on_button_update(b):
    try:
        if(nome.value == '' or endereco.value == '' or cidade.value == '' or uf.value == '' or cep.value == ''):
            raise Exception("Preencha todos os campos")
        cursor= con.cursor()
        cursor.execute("update cinema set endereco = %s, cidade = %s, uf = %s, cep = %s where nome = %s", 
                    (endereco.value, cidade.value,
                     uf.value, cep.value, nome.value))
        cursor.query
        con.commit()
        
        with eng.connect() as conn:
            df = pd.read_sql(text("select * from cinema"), conn)
        output.clear_output()
        display(nome, endereco, cidade, uf, cep, button_inserir, button_select, button_delete, button_update, df)

    except Exception as e:
        cursor.execute("ROLLBACK")
        output.clear_output()        
        display(nome, endereco, cidade, uf, cep, button_inserir)
        display("Não foi possível realizar a atualização.")
        display(e)
        # traceback.print_exc()
        
    finally:
        cursor.close()

button_inserir.on_click(on_button_insert)
button_select.on_click(on_button_select)
button_delete.on_click(on_button_delete)
button_update.on_click(on_button_update)

tab_login = widgets.VBox(children=[user, password, button])
tab1 = widgets.VBox(children=[nome, endereco, cidade, uf, cep, button_inserir, button_select, button_delete, button_update])

tab = widgets.Tab(children=[tab_login, tab1])
tab.set_title(0, 'Login')
tab.set_title(1, 'Cinema')

# widgets.VBox([tab])


output = widgets.Output()

with output:
    output.clear_output()
    display(widgets.VBox([tab]))

output

Output()